body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
    width: 108%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 20px 0;
}

:root {
    --primary: #F0F2F5;
    --secondary: #0866FF;
    --tertiary: #46a832;
    --fundo: #fff;
    --hover1: #287afd;
    --hover2: #429331;
    --borda: #b3afafa4;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}

.caixa {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--fundo);
    box-shadow: -5px 5px 5px var(--borda);
}

.caixa input {
    display: block;
    font-size: 18px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--borda);
    outline: none;
}

.caixa input:focus {
    border-color: var(--secondary);
}

.caixa #botao1 {
    display: block;
    border: none;
    background-color: var(--secondary);
    font-weight: bold;
    font-size: 16px;
    padding: 12px;
    width: 108%;
    box-sizing: border-box;
    border-radius: 8px;
    color: var(--fundo);
}

.caixa #botao1:hover {
    background-color: var(--hover1);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.caixa #botao2 {
    display: block;
    border: none;
    background-color: var(--tertiary);
    font-weight: bold;
    font-size: 16px;
    padding: 16px;
    width: 67%;
    box-sizing: border-box;
    border-radius: 8px;
    margin: auto;
    color: var(--fundo);
}

.caixa #botao2:hover {
    background-color: var(--hover2);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.caixa a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-decoration: none;
}


/* RODAPÉ */

#rodape {
    width: 345px;
    height: 100px;
    position: absolute;
    bottom: 18px;
}

/* LOGO */

#logo {
    width: 345px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 42%;
    font-size: 25px;
    color: var(--secondary);
}